#hourly::-webkit-scrollbar {
  display: none;
}

#hourly {
  height: 95px;
  width: 100%;
  display: flex;
  padding: 2px 5px;
  gap: 5px;
  flex-shrink: 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  box-sizing: border-box;
} 

.active_day{
  opacity: 0.5;
}

#scroll_left_btn {
  outline: none;
  height: 100%;
  width: 30px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  /* padding-left: 25px; */
  transition: opacity 0.3s ease;
  opacity: 0.8;
}

#scroll_left_btn:hover {
  opacity: 1;
}

#scroll_right_btn {
  outline: none;
  height: 100%;
  width: 30px;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  padding-right: 25px;
  transition: opacity 0.3s ease;
  opacity: 0.8;
}

#scroll_right_btn:hover {
  opacity: 1;
}

/* .hours:hover #scroll_left_btn_span,
.hours:hover #scroll_right_btn_span{
  color: red; 
  transition: background-color 0.3s; 
} */

.hours:hover{
  background-color: #b270d6;
}

.hours {
  cursor: pointer;
  width: 10%;
  background-color: var(--themeColor);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
}

.hour_text{
  font-weight: 500;
}

.mainRow {
  display: flex;
  gap: 20px;
  height: 35vh;
}

.weatherCard {
  background-color: var(--elementBg);
  contain: content;
  width: 45vw;
  height: 35vh;
  margin: 0px 10px;
  border-radius: 30px;
  border: 1.5px solid var(--borderColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.weatherInfo {
  background-color: "orange";
  width: 97%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}

#weatherlogo {
  /* background-color: white; */
  background-image: url(../images/sun_with_clouds_icon.png);
  background-size: cover;
  background-position: center;
  background-size: 100px;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
}

#weatherArea,
#temperature,
#humidity,
#wind {
  background-color: "blue";
  display: flex;
  justify-content: center;
  margin: 0px 10px;
}

.weatherDetails {
  display: flex;
  flex-direction: column;
  }

.location {
  font-size: 30px;
  color: white;
}

.country,
.tempLabel,
.humidityLabel,
.windLabel {
  color: white;
  text-align: left;
  font-size: 12px;
}

.tempValue,
.humidityValue,
.windSpeed {
  font-size: 30px;
  color: white;
}

.worldmapDiv {
  background-color: var(--elementBg);
  border: 1.5px solid var(--borderColor);
  width: 32vw;
  height: 35vh;
  margin: 0px 10px;
  border-radius: 30px;
}

#overviewDiv,
#forecastDiv {
  background-color: var(--elementBg);
  border: 1.5px solid var(--borderColor);
  border-radius: 30px;
}

#overviewDiv {
  width: 45vw;
  height: 47vh;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#overviewDivtitle{
  /* background-color: orange; */
  width: 100%;
  height: 17%;
  display: flex;
}

#overviewtitle{
  padding-top: 5px;
  /* background-color: red; */
  padding-left:20px ;
  background-color:'red';
  width: 40%;
  height: 100%;
}

#overviewtype{
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  width: 58%;
  height: 100%;
  margin-top: 10px;
  align-items: end;
  justify-content: center;
}

.overview-toggle-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px; /* Rounded edges */
  overflow: hidden;
  /* width: 300px;  */
  background-color: var(--elementDarkBg); /* Background color of the switch */
  padding: 2px;
}

.overview-switch-button{
  font-size: 12px;
  font-weight: 500;
  outline: none;
  background-color: transparent; /* No background for buttons */
  border: none; /* No border */
  color: black; /* Text color */
  padding: 6px 10px; /* Adjust padding */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: ease-in-out 0.3s; /* Transition effects */
  border-radius: 20px;
}

#humiditybtn{
  font-weight: 600;
  background-color: var(--themeColor);
}

#overview_chartDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85%;
  padding: 20px;
  padding-top: 0px;
  contain: content;
  /* background-color: orange; */

}

#forecastDiv {
  width: 32vw;
  height: 47vh;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#forecastDivtitle{
  /* background-color: orange; */
  width: 100%;
  height: 25%;
  display: flex;
}


#forecasttitle{
  padding-left:20px ;
  padding-top: 5px;
  background-color:'red';
  width: 50%;
  height: 100%;
}
#titlespan{
  color: white;
  font-size: 35px;
}

#forecastday{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.forecast-toggle-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px; /* Rounded edges */
  overflow: hidden;
  /* width: 1px;  */
  background-color: var(--elementDarkBg); /* Background color of the switch */
  padding: 2px;
}

.forecast-switch-button {
  outline: none;
  background-color: transparent; /* No background for buttons */
  border: none; /* No border */
  color: black; /* Text color */
  padding: 6px 10px; /* Adjust padding */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: ease-in-out 0.3s; /* Transition effects */
  border-radius: 20px;
}

#day3btn{
  font-weight: 500;
  background-color:var(--themeColor);
}
#day10btn{
  font-weight: 500;
  color: white;
}
#uvIndexbtn,#rainfallbtn,#pressurebtn{
  color: white;
}


#forecasts{
  /* background-color: blue; */
  width: 95%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-bottom: 5px;
  overflow-Y: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  box-sizing: border-box;
}

#display10dayDiv{
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-bottom: 5px;
  scroll-behavior: smooth;
  white-space: nowrap;
  box-sizing: border-box;
}

.forecastdaysitem{
  /* background-color: orange; */
  border-radius: 15px;
  background-color: var(--elementDarkBg);
  width: 95%;
  height: 30%;
  flex-shrink: 0;
  display: flex;
  cursor: pointer;
}

.forecastdaysitem:hover span{
  color: var(--themeColor);
}

#forecasts::-webkit-scrollbar {
  width: 12px;
}
#forecasts::-webkit-scrollbar-track {
  background: var(--elementDarkBg);
  border-radius: 10px;
}
#forecasts::-webkit-scrollbar-thumb {
  background-color:var(--themeColor);
  border-radius: 10px;
  border: 2px solid black;    /* Adds space around the thumb */
}

#forecasts::-webkit-scrollbar-thumb:hover {
  background-color:#b270d6;
}

.forecastitemtextDiv{
  width: 70%;
  background-color: 'blue';
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}
.forecastitemtextDiv>span{
  color:white;
  font-size: 35px;
}
.forecasttextSpan{
  font-size: 25px ;
  /* align-self: ; */
}
.forecastitemtextDiv div span:nth-child(2),span:nth-child(3){
  font-size: 15px;
  font-weight: 500;
  /* color: red; */
}

.forecastitemdateDiv{
  background-color: 'purple';
  width: 40%;
  padding: 0px 20px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.forecastitemdateDiv>div{
  font-size: 25px;
  color: white;
}
.forecastitemdateDiv div span:nth-child(2){
  align-self: flex-end;
  font-size: 12px;
  margin: 0px 5px;
}