/* Container for the navigation section */
#container.nav-container {
    background-color: transparent;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* About section container */
  #about.about-section {
    background-color: transparent;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  /* Display picture container */
  #dis_pic.display-pic {
    background-color: transparent;
    width: 35px;
    height: 35px;
  }
  
  /* Circle style for the display picture */
  .circle {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
  }
  
  /* Information section containing name and date */
  .info-section {
    background-color: transparent;
    display: flex;
    width: 300px;
    padding: 5px;
    padding-bottom: 10px;
    flex-direction: column;
  }
  
  /* Name section */
  #name.name-section {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Text for the name */
  #name_span.name-text {
    color: white;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Text for the date */
  #date_span.date-text {
    color: white;
    font-size: 25px;
    margin-top: -5px;
  }
  
  /* Navigation options container */
  #nav_opt.nav-options {
    background-color: transparent;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 35vw;
  }
  
  /* Search section */
  #search.search-section {
    background-color: pink;
    background-color:var(--elementBg);
    border: 1.5px solid var(--borderColor);

    /* height: ; */
    width: 15em;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
        border-radius: 25px;

  }
  
  #search.search-section span{
    color: var(--borderColor) ;
    position: absolute;
    left: 6px;
  }
  /* Search input styling */
  .search-input {
    /* background-color: orange; */
    width: 90%;
    border-radius: 0px 25px 25px 0px;
    padding: 5px 10px;
    font-size: 0.9em;
    color: white;
    background-color:var(--elementBg);
    text-decoration: none;
    outline: none;
    border: none;
  }
  
  /* Language section */
  #language.language-section {
    background-color: transparent;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Language select dropdown styling */
  .language-select {
    width: 90%;
    background-color:var(--elementBg);
     border: 1.5px solid var(--borderColor);
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 0.9em;
    color: white;
    outline: none;
  }
  
  /* Temperature unit styling */
  #temp_unit.temp-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(41, 41, 41); */
    /* height: 20em; */
    margin-right: 10px;
    /* width: 5vw; */
  }
  .temp_toggle-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    width: 80px;
    background-color: var(--elementBg);
    padding: 2px;
}

  
  .temp-switch-button {
    contain: content;
    width: 35px ;
    height: 30px;
    font-size: 15px;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    /* padding: 6px 10px; */
    margin: 1px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border-radius: 20px;
}

#celbtn{
  background-color: var(--themeColor);
}

.MenuItem{
  background-color: red;
}
.css-99wn1p-MuiList-root-MuiMenu-list{
  background-color: var(--elementBg);
  color: white;
}