.sideBarDiv{
    /* background-color: rgb(154, 0, 0);  */
    height: 60px;
    width: 50px;
} 


/* Sidebar container */
#container.sidebar-container {
    background-color:var(--elementBg);
    width: 4  vw;
    height: 96vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px 0px 20px 0px; */
    contain: content;
    border: 1.5px solid var(--borderColor);
  }
  
  /* Logo section */
  .logo-section {
    /* background-color: #d82020; */
    margin-top: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  /* Logo */
  #logoDiv.logo {
    /* margin-bottom: 2vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;  
    color: white;
    transition: color ease-in-out 0.2s;
  }
  
  /* Menu section */
  .menu-section {
    display: flex;
    flex-direction: column;
  }
  
  /* Menu items */
  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  
  /* Logout section */
  .logout-section {
    margin-bottom: 5px;
    width: 45px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  /* Logout item */
  .logout-item {
    transition: color ease-in-out 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  /* Icons inside menu items */
  .menu-item .material-symbols-outlined,
  .logout-item .material-symbols-outlined {
    font-size: 1.5em;
  }
  .logout-item:hover{
    color: red;
  }
  .logout-item .material-symbols-outlined {
    font-size: 1.8em;
  }
  #accountDiv,#notificationDiv,#dashboardDiv,#settingDiv,.logout-section,.logo-section {
    /* border-radius: 50%; */
    transition: ease-in-out 0.3s;
  }
  #logoDiv.logo:hover{
    color: var(--themeColor);
  }
  #accountDiv:hover,#notificationDiv:hover,#dashboardDiv:hover,#settingDiv:hover,.logout-section:hover,.logo-section:hover{
    cursor: pointer;
    color: var(--themeColor);
    background-color: var(--elementDarkBg);
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  
  .confirm_btn {
    width: 100px;
    height: 40px;
    color: black;
    border-radius: 5px;
    margin: 5px;
    font-weight: 600;
    background-color: var(--themeColor);
    outline: none;
    border: none;
  }
  
  .confirm_btn:hover {
    background-color: var(--theme2Hover);
    color: black;
  }
  
  .cancel_btn {
    width: 90px;
    height: 40px;
    color: white;
    border-radius: 5px;
    margin: 5px;
    /* font-weight: 600; */
    background-color: gray;
    outline: none;
    border: none;
  }
  .cancel_btn:hover {
    background-color: #606060;
    color: white;
  }