/* Container for the forecast section */
#WorldforecastDiv.forecast-container::-webkit-scrollbar{ 
  display: none;
}

#WorldforecastDiv.forecast-container {
    background-color: '';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: 84vh;
    padding: 0px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  
  /* Individual forecast items */
  .forecast-item {
    background-color: '';
    /* height: 500px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px 0px;
  }
  
  /* Circular logo at the top of each forecast item */
  .add-forecast-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--themeColor);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
    top: 0;
  }
  
  .forecast-box div{
    height: 90%;
    width: 100%;
    /* background-color: 'orange'; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .add-forecast-box{
    /* background-color:; */
    height: 150px;
    width: 100%;
    border-radius: 15px;
    border: 1.5px solid var(--borderColor);
    border-style: dashed;
    padding: 10px;  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-forecast-box div{
    height: 90%;
    width: 100%;
    /* background-color: 'orange'; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #add-foracasttextDiv{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    /* background-color: ; */
  }
  #add-forcastsubtitleDiv{
    /* background-color: ; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: 'pink';
    width: 100%;
    height: 40%;
  }

  #add_forcast_btn{
    /* width: 20px; */
    /* height: 10px; */
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--themeColor);
  }

  #add_forcast_btn span{
    color: black;
    font-size: 25px;
  }
  