:root{
    --themeColor: #be83de;
    --elementBg: #1b1b1b;
    --elementDarkBg:#0d0d0d;
    --borderColor: #474646;
}

body{
    font-family: "Raleway", sans-serif;
    /* font-family: "Ubuntu", sans-serif; */
    font-weight: 400;
}


