:root{
    /* --themeColor: #b8e2e9; */
    --themeColor: #be83de;
    --theme1Hover:#b270d6;
    /* --themeColor: #ff7777; */
    /* --theme2Hover:#f56767; */
    /* --theme2Hover:#b270d6; */
    /* --themeColor: #7181fe; */
    /* --themeColor: #5db148; */
    --elementBg: #1b1b1b;
    --elementDarkBg:#0d0d0d;
    --borderColor: #474646;
}

body{
    font-family: "Raleway", sans-serif;
    /* font-family: "Ubuntu", sans-serif; */
    font-weight: 400;
}
.leaflet-control-attribution{
    display: none;
}
