body {
  margin: 0;
  /* height: 100vh; */
  /* padding: 5px; */
  contain: content;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --themeColor: #be83de;
  --themeHover:#b270d6;
  --elementBg: #1b1b1b;
  --elementDarkBg:#0d0d0d;
  --borderColor: #474646;
}
